---
import { getCollection } from "astro:content";
import Album from "@components/Album.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { siteConfig } from "src/config/site-config";

const albums = await getCollection('albums')

---

<MainLayout title="Ran Kirlian official website">
  <h1 class="text-3xl font-semibold capitalize lg:text-4xl text-white">
    {siteConfig.title}
  </h1>

	<div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-3">
        {
          albums.sort().map((album) => (
            <Album album= {album} />
          ))
        } 
      </div> 
</MainLayout>

